@charset "utf-8"; /* CSS Document */
/* ################################################## */
/* ###### DEBUT du CSS sur intgralité du site ####### */

html {
	font-family: 'Lato', sans-serif;
	color: white;
	height: 100%;
}

body {
	background-color: lightgrey;
	min-height: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}

p {
	margin-bottom: 20px;
	color: #777;
	line-height: 150%;
}

li {
	list-style-type: none;
}

h1 {
	color: #899F11;
	font-size: 30px;
	text-align: left;
	margin-top: -10px;
	margin-bottom: 10px;
}

h1 span {
	font-weight: bold;
	color: rgba(101, 92, 137,.3);
}

h2,h3 {
	color: #777;
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

h3 {
	text-align: left;
	font-size: 28px;
}

h4,h5 {
	color: #655c89;
	margin-bottom: 20px;
	font-size: 19px;
}

h5 {
	font-size: 16px;
}

#wrapper { /* Vérifier si c'est encore utile*/
	width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}

#main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown-item {
	color: red;
}

#describe {
	background-color: white;
	height: auto;
	padding-top: 20px;
}

.btn-custom {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003E3E", endColorstr="#007F7F");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#003E3E), to(#007F7F));
  background-image: -moz-linear-gradient(top, #003E3E, #007F7F);
  background-image: -ms-linear-gradient(top, #003E3E, #007F7F);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003E3E), color-stop(100%, #007F7F));
  background-image: -webkit-linear-gradient(top, #003E3E, #007F7F);
  background-image: -o-linear-gradient(top, #003E3E, #007F7F);
  background-image: linear-gradient(#003E3E, #007F7F);
  border-color: #007F7F #007F7F hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
	}

.footer {
	background: lightgray;
	height: 30px;
	width: 100%;
}

/* ######## FIN du CSS sur intgralité du site ####### */
/* ################################################## */
/* ################################################## */
/* #### DEBUT du CSS pour le tableau de données ##### */

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	
}

#tableauContainer {
	width: 80%;
	margin: auto;
}

table {
	color: #000000;
	min-width: 80%;
	margin: auto auto 40px auto;
}

td {
	padding-left: 4px;
	padding-right: 4px;
}

/* ###### FIN du CSS pour le tableau de données ##### */
/* ################################################## */
/* ################################################## */
/* ##### DEBUT du CSS pour les tabs de l'index ###### */

#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {
	display: flex;
	width: 80%;
	margin: 10px auto 10px auto;
	min-height: 100%;
}

#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {
	float: left;
	display: block;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
	width: 10%;
}

#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {
	display: block;
	padding: 17px 30px;
	background: #9fbd13;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 10px 10px 0 0;
}

#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
	background: #777777
}

#tabs_container {
	padding: 40px;
	overflow: hidden;
	position: relative;
	background: white;
}

#tabs_container div {
	margin-right: 40px;
}

/* ####### FIN du CSS pour les tabs de l'index ###### */
/* ################################################## */
/* ################################################## */
/* ######## DEBUT du CSS pour le mini-chat ########## */

form {
    text-align:center;
}

#tchat {
    background-color: black;
		margin: auto;
    color: white;
    padding: 10px 0px 10px 10px;
    width:60%;
}

#datecolor {
    color: yellow;
}

#pseudocolor {
    color: red;
}

/* ######### FIN du CSS pour le mini-chat ########### */
/* ################################################## */
/* ################################################## */
/* ########### DEBUT du CSS jeu combat ############## */
#attaque {
	margin-bottom: 40px;
}
/* ############# FIN du CSS jeu combat ############## */
/* ################################################## */