/*GENERALITES*/

#bird {
  width: 500px;
  font-family: arial, helvetica, sans-serif;
  box-shadow: 5px 0px 5px silver, -5px 0px 5px silver;
  background-color: white;
  margin: 10px auto 10px auto;
  border: 1px dashed black;
}

/*EN-TETE*/
#en_tete {
  background-color: gainsboro;
  padding: 5px 0px 5px 0px;
}
h1.h1 {
  /*Mise en page*/
  font-family: georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: silver;
  padding: 15px 15px;
  margin-top: 15px;
  text-align: center;
  text-shadow: 0px 0px 8px white;
}
/*NAVIGATION*/
a.a:hover {
  color: gainsboro;
}
  /*menu*/
#ul {
  /*positionnement*/
  display: flex;
  justify-content: space-around;
  /*mise en page*/
  height: 30px;
  line-height: 30px;
  background-color: silver;
  padding: 0px 10px 0px 10px;
}
.li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
ul a.a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
  /*retour haut*/
.haut {
  text-decoration: none;
  color: white;
  background-color: silver;
  padding: 3px;
  display: block;
  width: 8%;
  text-align: center;
  margin: 0px auto 10px auto;
}

/*CONTENU*/
p.p, h2.h2 {
  padding-left: 10px;
  padding-right: 10px;
}
p.p {
  font-size: 96%;
}
img.img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
