/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/* GENERALITES */
#body {
  font-family: "Raleway";
}

.container {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
}

.img-fluid {
  display: block;
  margin: auto;
}

h5 {
  font-weight: 900;
  margin-bottom: 0;
}

.subTitle {
  margin: 0;
  font-size: 0.75em;
  line-height: 0.9;
  font-weight: 400;
}

/* BOUTONS */
.customBtn {
  display: block;
  width: 170px;
  height: 33px;
  text-align: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 0.75rem;
  line-height: 1;
  margin: 10px auto 10px auto;
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 10% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 50%, 10% 100%, 100% 100%, 100% 0%);
}

.blackBtn {
  color: white;
  font-weight: 400;
  background-color: black;
}

.orangeBtn {
  color: white;
  font-weight: 900;
  background-color: #ef7f01;
}

.greyBtn {
  font-weight: 900;
  background-color: #f2f2f2;
}

.chevronBtn {
  padding-right: 5px;
}

/* ENCARTS */
.encartTitle {
  width: 250px;
  height: 50px;
  color: white;
  -webkit-clip-path: polygon(0 0, 90% 0%, 85% 100%, 0 100% );
  clip-path: polygon(0 0, 90% 0%, 85% 100%, 0 100% );
  padding: 7px 0px 5px 30px;
}

.blackTitle {
  background-color: black;
}

.orangeTitle {
  background-color: #ef7f01;
}

.content {
  max-width: 317px;
  text-align: left;
  line-height: 1;
}

.titleContent {
  text-transform: uppercase;
  font-weight: 900;
  margin: 5px auto 0px auto;
}

.txtContent {
  font-size: 0.9rem;
  margin: 0px auto 0px auto;
}

/* PARTENAIRES */
.partenaires {
  background-color: #f2f2f2;
  font-weight: 900;
  text-align: center;
  font-size: 1.2em;
  padding-top: 5px;
}


/*-------------------------*/
/*-------------------------*/
/*   RESTE A FACTORISER    */
/*-------------------------*/
/*-------------------------*/

.ban04 {
  padding: 7px 0px 10px 0px;
}

.nav1-footer {
  list-style: none;
  color: white;
  font-size: 0.5em;
  padding-top: 5px;
  margin-bottom: 5px;
}

.nav2-footer {
  list-style: none;
  color: white;
  font-size: 0.5em;
  padding-top: 5px;
  margin-bottom: 0px;
}

.nav1-footer a, .nav2-footer a {
  color: white; 
}

.footer ul {
  padding: 0;
}

li{
  display: inline;
}

.footer {
  width: 100%;
  background-color: black;
  margin-top: 10px;
}

.img-footer {
  margin-bottom: 5px;
}



/*******************************************/
/* MEDIA QUERIES POUR MOYEN ET GRAND ECRAN */
/*******************************************/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}
